<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Iniciar sesión / registrarse</title>
    <style>
        .menu_fila{
            display: inline;
            margin-right: 100px;
        }
    </style>
</head>
<body>
    <h1>Iniciar sesión o registrase</h1>
    <a href="http://127.0.0.1:8000/signIn" class="menu_fila"> <button type="submit">Iniciar sesión</button></a>
    <a href="http://127.0.0.1:8000/signUp" class="menu_fila"><button type="submit">Registrarse</button></a>
</body>
</html>