{% extends 'base.html' %}
{% block title %}Detalles de la asignatura{% endblock %}
{% block content %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        .task-details {
            margin-top: 30px;
        }
        .task-detail-item {
            margin-bottom: 10px;
        }
        .task-detail-label {
            font-weight: bold;
        }
    </style>
<body>
    <div class="container">
        <h1>Detalles de la asignatura</h1>
        <div class="subject-details">
            <div class="subject-detail-item">
                <span class="subject-detail-label">Nombre:</span>
                <span>{{ subject.name }}</span>
            </div>
            <div class="subject-detail-item">
                <span class="subject-detail-label">Curso:</span>
                <span>{{ subject.course }}</span>
            </div>
            <div class="subject-detail-item">
                <span class="course-detail-label">Profesor:</span>
                <span>{{ subject.teacher }}</span>
            </div>
            <div class="subject-detail-item">
                <span class="subject-detail-label">Creditos:</span>
                <span>{{ subject.credits }}</span>
            </div>
            </div>
        </div>
</body>
{% endblock %}