{% extends 'base.html' %}
{% block title %}Detalles de la Tarea{% endblock %}
{% block content %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        .task-details {
            margin-top: 30px;
        }
        .task-detail-item {
            margin-bottom: 10px;
        }
        .task-detail-label {
            font-weight: bold;
        }
    </style>
<body>
    <div class="container">
        <h1>Detalles de la Tarea</h1>
        <div class="task-details">
            <div class="task-detail-item">
                <span class="task-detail-label">Asignatura:</span>
                <span>{{ task.subject.name }}</span>
            </div>
            <div class="task-detail-item">
                <span class="task-detail-label">Nombre:</span>
                <span>{{ task.name }}</span>
            </div>
            <div class="task-detail-item">
                <span class="task-detail-label">Fecha límite:</span>
                <span>{{ task.deadline }}</span>
            </div>
            <div class="task-detail-item">
                <span class="task-detail-label">Hora:</span>
                <span>{{ task.hour }}</span>
            </div>
            <div class="task-detail-item">
                <span class="task-detail-label">Descripción:</span>
                <span>{{ task.description }}</span>
            </div>
            <div class="task-detail-item">
                <span class="task-detail-label">Prioridad:</span>
                <span>
                    {% if task.priority == '1' %}
                        Alta
                    {% elif task.priority == '2' %}
                        Media
                    {% else %}
                        Baja
                    {% endif %}
                </span>
            </div>
        </div>
        <form method="post" action="{% url 'deleteTask' taskId=task.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</body>
{% endblock %}